$-sm: 480px;
$-md: 720px;
$-lg: 960px;
$-xl: 1200px;
$-limit: 1440px;

@mixin sm {
  @media (min-width: $-sm) {
    // max-width: $-md - 1;
    @content;
  }
}
@mixin md {
  @media (min-width: $-md) {
    // max-width: $-lg - 1;
    @content;
  }
}
@mixin lg {
  @media (min-width: $-lg) {
    // max-width: $-xl - 1;
    @content;
  }
}
@mixin xl {
  @media (min-width: $-xl) {
    // max-width: $-limit;
    @content;
  }
}
