:root {
  --color: #000;
  --bgColor: #fafafa;
  --default-font: 'Source Sans Pro', 'Open Sans', 'Roboto', Helvetica, Arial, sans-serif;
  --headerBgColor: cornflowerblue;
  --navLinkColor: #000;
  --navLinkBgColor: #fff9;

  // Font Size
  --navLinkFontSize: 1.2rem;
  --footerFontSize: 0.8rem;
}
