:root {
  --color: #000;
  --bgColor: #fafafa;
  --default-font: 'Source Sans Pro', 'Open Sans', 'Roboto', Helvetica, Arial, sans-serif;

  // Header
  --header-color: #fff;
  --header-bg-color: #000;
  --header-shadow: 0px 2px 3px 1px rgb(0 0 0 / 20%);
  --hamburger-icon-bg: transparent;
  --hamburger-icon-bg-hover: #fff8;

  // Nav
  --nav-link-color: #fff;
  --nav-link-color-hover: #fff3;

  // Grid

  // Note
  --note-bg: linear-gradient(340deg, rgb(209, 209, 54) 0%, rgb(255, 255, 136) 20%);
  --note-shadow: 0px -1px 3px 0px rgb(0 0 0 / 10%), 2px 2px 3px 0px rgb(0 0 0 / 20%),
    1px 3px 2px 0px rgb(0 0 0 / 14%), -1px 2px 3px 0px rgb(0 0 0 / 12%);
  --note-menu-icon-color: #000;
  --note-padding: 0.5rem;
}
