@import './modern-normalize.css';
@import '@fontsource/roboto-mono/variable.css';
@import '@fontsource/roboto-mono/400.css';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
/* @import '@fontsource/material-icons'; */

:root {
  --default-font: 'Roboto', 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', system-ui,
    -apple-system, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --default-monospace-font: 'Roboto MonoVariable', 'Roboto Mono', Menlo, Consolas, Courier,
    monospace;

  /* CSS HEX */
  --bdazzled-blue: #3d5a80;
  --dark-sky-blue: #98c1d9;
  --alice-blue: #eff7fa;
  --light-cyan: #e0fbfc;
  --cream: #feffc2;
  --anti-cream: #e5e6ae;
  --burnt-sienna: #ee6c4d;
  --gunmetal: #293241;

  --color-fg: var(--gunmetal);
  --color-bg: var(--light-cyan);
  --default-button: #203131;
  --default-shadow: 1px 2px 2px 0 rgb(0 0 0 / 30%);

  --header-fg-color: var(--alice-blue);
  --header-bg-color: var(--gunmetal);
  --btn-add-note: var(--burnt-sienna);
  --note-width: 300px;

  color: var(--color);
  background-color: var(--bgColor);
  font-family: var(--default-font);
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  margin: 0;
  padding: 0;
  font-family: var(--default-font);
  text-rendering: geometricPrecision;
}

pre,
code {
  font-family: var(--default-monospace-font);
}
